:root {
    --primary: #E75B10;
    --secondary: #6379F4;
    --dark: #0F1E25;
    --card: #3F3F3F;
    --modal: #000814;
}

[data-theme='secondary'] {
    --primary: #6379F4;
    --secondary: #E75B10;
    --dark: #000524;
    --card: #3F3F3F;
    --modal: #000814;
}

[data-theme='golden'] {
    --primary: #ffa62b;
    --secondary: #E75B10;
    --dark: #0F1E25;
    --card: #3F3F3F;
    --modal: #000814;
}

[data-theme='cyber'] {
    --primary: #7b2cbf;
    --secondary: #E75B10;
    --dark: #0F1E25;
    --card: #10002b;
    --modal: #000814;
}

[data-theme='neon'] {
    --primary: #2a9d8f;
    --secondary: #7b2cbf;
    --dark: #003049;
    --card: #264653;
    --modal: #000814;
}

[data-theme='cyan'] {
    --primary: #00b4d8;
    --secondary: #03045e;
    --dark: #3d405b;
    --card: #023047;
    --modal: #000814;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: var(--dark);
    color: white;
}

input,
textarea,
select {
    background-color: rgb(0, 0, 0) !important;
    color: rgb(227, 224, 224) !important;
}